.project
.fly_token
TAGS
plackup.sh
/Cannes20*.html.text
/Cannes20*.html
/Cannes20*.dat
public/Berlinale202x.dat
/current.pl
/todas.pl
todas20[0-9][0-9].dat
todas20[0-9][0-9].html
/Critic.de.pl
/Critic.de.berlin.pl
Critic.de.old
Critic.de.old.dat
Critic.de.dat.old
Critic.de.html
Critic.de.dat
insert-[bcs][12][0-9]
insert
[bcsv][12][0-9].sh
ber[12][0-9]/
sun[12][0-9]/
ven[12][0-9]/
c[12][0-9]/
/[sbcv]2*-auto.sh
/20*.pl
*.dat.bak
/chaosreign.pl
/chaosreign.dat
/dkstjernebarometer.pl
/dkstjernebarometer.dat
/kinoart.ru.pl
/kinoart.ru.dat
/kinoart.ru.html
/lesinrocks.pl
/indiewire.dat
/indiewire.pl
/metacritic.dat
/metacritic.pl
/guardian.dat
/guardian.pl
/filmstage.dat
/filmstage.pl
/hollywoodreporter.dat
/hollywoodreporter.pl
/thewrap.dat
/thewrap.pl
/screendaily.dat
/screendaily.pl
/variety.dat
/variety.pl
/calmos-emoji.dat
/calmos-emoji.pl
/awardswatch.dat
/awardswatch.pl
/perlentaucher.dat
/perlentaucher.pl
/kinoart.ru.pl
/kinoart.ru.dat
/moiree.dat
/moiree.pl
/letterbox
/letterbox-*.pl
/letterbox-*.dat
/letterbox.dat
/letterbox-*.dat.old
/letterbox-*.lst
/letterbox-*.lst.1
/letterbox.diff
/lettr-*-list.html
/lettr-*-list-2.html
lib/*.pm
git_push.sh
hot_deploy-bump.sh
logs/
pdf/
/scrape/
tmp/
imdb-ratings.csv
*-recovery-codes.txt
public/*20*.dat.bak
/up.sh
/imdb-*.lst
/imdb.dat
/imdb.dat.bak
/imdb.db
/imdb.pl
/?2?-lb.sh
*dat.gz
*dat.old.gz
*html.gz
ber*.tar.bz
c*.tar.bz
sun*.tar.bz
ber*.tar.bz2
c*.tar.bz2
sun*.tar.bz2
/v25
/ven25
