.project
20*.pl
Berlinale2017.films
Cannes20*.html.text
Cannes20*.html
Cannes20*.html.old
Cannes20*.html.old.text
Critic.de.berlin.pl
Critic.de.dat
Critic.de.html
Critic.de.html
Critic.de.html.old
Critic.de.html.old.text
Critic.de.html.text
TAGS
b19.sh
ber16/
ber17/
ber18/
ber19/
c16/
c17/
c18/
c19.sh
filmstage.dat
filmstage.pl
heroku-recovery-codes.txt
hollywoodreporter.dat
hollywoodreporter.dat.bak
hollywoodreporter.pl
imdb-ratings.csv
insert-b19
insert-c19
insert-s19
letterbox
letterbox-*.pl
letterbox-*.dat
letterbox.dat
letterbox.dat.old
letterbox.diff
lettr-*-list.html
lib/Cannes/rurban.pm.warn
logs/
pdf/
s19.sh
scrape/
sun16/
sun17/
sun18/
sun19/
thewrap.dat
thewrap.pl
tmp
todas.html
variety.dat
variety.pl
