.project
TAGS
Cannes20*.html.text
Cannes20*.html
Cannes20*.dat
Critic.de.pl
Critic.de.berlin.pl
Critic.de.dat
Critic.de.html
Critic.de.dat
insert-[bcs][12][0-9]
[bcs][12][0-9].sh
ber[12][0-9]/
sun[12][0-9]/
c[12][0-9]/
20*.pl
indiewire.dat
indiewire.pl
guardian.dat
guardian.pl
filmstage.dat
filmstage.pl
hollywoodreporter.dat
hollywoodreporter.pl
thewrap.dat
thewrap.pl
variety.dat
variety.pl
letterbox
letterbox-*.pl
letterbox-*.dat
letterbox.dat
letterbox-*.dat.old
letterbox.diff
lettr-*-list.html
lib/Insert.pm
git_push.sh
hot_deploy-bump.sh
logs/
pdf/
scrape/
tmp/
imdb-ratings.csv
*-recovery-codes.txt
