<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title><% which %> critics ratings</title>
<link rel="stylesheet" href="/css/style.css" />

<script type="text/javascript">/* <![CDATA[ */
function selectAll(name) {
  var isFirstSet = -1;
  formObj = document.forms[0];
  for (var i=0; i < formObj.length; i++) {
      fldObj = formObj.elements[i];
      if ((fldObj.type == 'checkbox') && (fldObj.name.substring(0,name.length) == name)) {
         fldObj.checked = true;
       }
   }
}
function flipAll(name) {
  formObj = document.forms[0];
  for (var i=0; i < formObj.length; i++) {
      fldObj = formObj.elements[i];
      if ((fldObj.type == 'checkbox') && (fldObj.name.substring(0,name.length) == name)) {
         fldObj.checked = (fldObj.checked) ? false : true;
       }
   }
}
/* ]]> */</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156907122-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-156907122-1');
</script>
<% REDIRECT_HEAD %>
</head>
<body>
<% REDIRECT_BODY %>
<% content %>
<div id="footer">
Powered by static <a href="https://pages.github.com/">GitHub Pages</a>, a little <a href="http://perl.org/">perl</a> logic and readable <a href="https://github.com/rurban/cannes-ratings/">text files</a>.
</div>
</body>
</html>
